.headerdiv{
    height: 100vh;
}
.searchdiv{
    background: coral;
    margin-top:5rem;
    
   
}
.searchrow{
    margin-top: 5rem;
    
}
.imgbook{
    height: 30vh;
    object-fit: cover;
}

.cardfav{
    padding:2rem;
}